// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//Theme
$sky : #CAEBF2;
$carbon: #A9A9A9;
$neutral: #EFEFEF;
$mint: #B4DBC0;
$lightcoral: #F48882;
$silk: #FAD2CC;
$color1: #F78888;

//Portfolio Colors
$darkblue: #021D43;
$lightblue: #05C2C9;
$darkgrey: #1B242F;
$watermelon: #FF3E55;

//PdfExport Colors
$bluegrey: #6D8DAF;
$brightblue: #197EEA;
$mutedblue: #5D98D8;


//ProviderSearch Colors
$trueblue: #3468C1;
$royalblue: #0A2A60;
$flikrblue: #2867D3;
$cornflowerblue: #508FFC;
$brightnavyblue: #4077D6;
$paleturquoise: #B7DDF5;
$skyblue: #A2C7ED;
$lightsteelpink: #EDEBF5;
$lightsteelblue: #CBD3ED;
$mediumpurple: #7F9ED5;



